.engineering-programs-total{
    margin-top: 50px;
    padding-bottom: 100px;
}

.engineering-programs-total h2{
    font-size: 48px;
    margin: 0 0 25px;
    font-weight: 700;
    line-height: 120%;
    color: #336178;
}

.first-button-engineering button {
    background-image: url("https://www.ada.edu.az/assets/img/content/program1.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 111px 47px 111px 47px;
    position: relative;
    border: none;
}

.first-button-engineering button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #336178;
    opacity: 0.7;
    z-index: 1;
}

.first-button-engineering button h4 {
    text-align: center !important;
    font-weight: 700;
    line-height: 120%;
    font-size: 28px;
    z-index: 2;
    color: #fff !important;
}

.first-button-engineering nav {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 20px;
}

.first-button-engineering nav a {
    color: #fff;
    z-index: 2;
    text-decoration: none;
    text-wrap: pretty;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.first-button-engineering nav a::after {
    content: ">";
    margin-left: 8px;
    font-weight: bold;
}

.first-button-engineering nav a:hover {
    text-decoration: underline;
}

.second-button-engineering button {
    background-image: url("https://www.ada.edu.az/assets/img/content/program2.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 111px 47px 111px 47px;
    position: relative;
    border: none;
}

.second-button-engineering button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ae485e;
    opacity: 0.7;
    z-index: 1;
}

.second-button-engineering button h4 {
    text-align: center !important;
    font-weight: 700;
    line-height: 120%;
    font-size: 28px;
    z-index: 2;
    color: #fff !important;
}

.second-button-engineering nav {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 20px;
}

.second-button-engineering nav a {
    color: #fff;
    z-index: 2;
    text-decoration: none;
    text-wrap: pretty;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.second-button-engineering nav a::after {
    content: ">";
    margin-left: 8px;
    font-weight: bold;
}

.second-button-engineering nav a:hover {
    text-decoration: underline;
}

