.enginnering-dean-total{
    background-color: #f0f2f4;
}
.information-abzatdin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 10px;
}

.information-abzatdin img{
    box-sizing: border-box;
    object-fit: cover;
    object-position: top;
    vertical-align: middle;
    border: 4px solid #fff;
    
}

.information-abzatdin p{
    color: #292929;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.information-abzatdin a{
    text-decoration: none;
    font-size: 20px;
    color: #336178;
    transition: color 0.15s ease-in-out;
    font-weight: 700;
    line-height: normal;
}

.information-abzatdin a:hover{
    color: #ae485e;
    transition: color 0.15s ease-in-out;
}