.main-undergraduate-total {
    padding: 60px 40px;
    background-color: #fff;
}

.undergraduate-content-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.sidebar-menu {
    flex: 0 0 350px;
    background-color: #f0f2f4;
    padding: 0;
    position: sticky;
    top: 170px;
    align-self: flex-start;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    padding: 5px 25px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    font-style: normal;
    position: relative;
}

.sidebar-menu li a {
    color: #5f6368;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-menu li a:hover {
    color: #336178;
    transform: translateX(10px);
}

.sidebar-menu li.active a {
    color: #292929;
    font-weight: 700;
}

.main-content {
    flex: 1;
    background-color: white;
    padding: 0px 25px;
    
}

.main-content h2{
    font-size: 48px;
    margin: 0 0 25px;
    font-weight: 700;
    line-height: 120%;
    color: #336178;
}

.main-content h1 {
    color: #336178;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 25px;
}

.main-content p {
    color: #292929;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    margin-bottom: 15px;
}

.main-content ul li {
    color: #292929;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    margin-bottom: 15px;
}

.programs-table {
    width: 100%;
    margin-top: 30px;
    background-color: white;
}

.programs-table table {
    width: 100%;
    border-collapse: collapse;
}

.programs-table thead tr:first-child th {
    background-color: #336178;
    color: white;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.programs-table thead tr:nth-child(2) th {
    background-color: #476d81;
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    padding: 1em 1.4em;
    text-align: left;
}

.programs-table tbody td {
    padding: 5px 15px;
    border: 1px solid #e0e0e0;
    vertical-align: top;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
}

.programs-table tbody td a {
    color: #336178;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease;
}

.programs-table tbody td a:hover {
    color: #ae485e;
    text-decoration: underline;
}

.video-section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-section iframe {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}


.international-applicants{
    padding-top: 50px;
}