.navbar-custom {
	background-color: #336178;
}

.navbar-custom .nav-link {
	color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}


.navbar-custom button,
.navbar-custom .btn {
 	border: 1px solid transparent;
 	position: relative;
 	overflow: hidden;
 	background-color: transparent; 
 	color: #ffffff !important; 
 	z-index: 0;
 	font-size: 14px;
 	font-weight: 600;
 	font-style: normal;
 	text-decoration: none;
 	text-transform: uppercase;

}

.navbar-custom .btn-apply {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-color: transparent !important;
}

.navbar-custom button::after,
.navbar-custom .btn::after {
 	content: "";
 	position: absolute;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	background-color: #ae485e; 
 	transform: scaleX(0);
 	transform-origin: left;
 	transition: transform 0.3s ease; 
 	z-index: -1;
  
}
.navbar-custom button:hover::after,
.navbar-custom .btn:hover::after {
 	transform: scaleX(1);
}
.navbar-custom button:hover,
.navbar-custom .btn:hover {
 	color: #ffffff !important; 
 	border-color: #ae485e;
}